<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">Title</head>
<body>

<nav th:replace="fragments :: menu">Menu</nav>

<div class="wrapper">
    <h1 th:text="${title}">Title</h1>

    <form method="post" th:action="@{/campgrounds/remove}">
        <table>
            <tr>
                <th>Campground</th>
                <th>Location</th>
                <th class="th-center">Price</th>
                <th class="th-center">Electric</th>
                <th class="th-center">Water</th>
                <th class="th-center">Dump</th>
                <th class="th-center">Facilities</th>
                <th class="th-center">Rank</th>
                <th class="th-center">Remove</th>
            </tr>
            <tr th:each="campground : ${campgrounds}">
                <td th:text="${campground.name}"></td>
                <td th:text="${campground.location}"></td>
                <td class="td-center" th:text="${campground.price}"></td>
                <td class="td-center"><span th:if="${campground.hasElectric}">&#10003;</span></td>
                <td class="td-center"><span th:if="${campground.hasWater}">&#10003;</span></td>
                <td class="td-center"><span th:if="${campground.hasDump}">&#10003;</span></td>
                <td class="td-center"><span th:if="${campground.hasFacilities}">&#10003;</span></td>
                <td class="td-center">
                    <span th:each="i: ${#numbers.sequence(0, campground.rank - 1)}" class="fa fa-star checked"></span>
                </td>
                <td class="td-center">
                    <input type="checkbox" name="campgroundIds" th:value="${campground.id}" th:id="${campground.id}"/>

                </td>
            </tr>
        </table>
        <button class="remove-button" type="submit">Remove</button>
    </form>

    <div class="search-form">
        <h1>Search Campgrounds</h1>
        <form method="post" th:action="@{/campgrounds/remove/search}">
            <div class="custom-select">
                <select name="searchOption">
                    <option value="name">Campground Name</option>
                    <option value="location">Campground Location</option>
                    <option value="price">Campground Price</option>
                    <option value="rank">Campground Rank</option>
                    <option value="electric">Has Electric</option>
                    <option value="water">Has Water</option>
                    <option value="dump">Has Dump</option>
                    <option value="facilities">Has Facilities</option>
                </select>
            </div>
            <input class="search-box" type="text" name="searchTerm" placeholder="Search Here" />
            <button class="search-button" type="submit">Search</button>
        </form>
    </div>
</div>

</body>
</html>