<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">Title</head>
<body class="container">
    <h1 th:text="${title}">Default Title</h1>

    <form name="f" th:action="@{/login}" method="post" style="max-width:600px;">
        <fieldset>
            <div th:if="${param.error}" class="alert alert-danger">Invalid username and password</div>
            <div th:if="${param.logout}" class="alert alert-success">You have been logged out</div>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="username"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" name="password" placeholder="password"/>
            </div>

            <button type="submit" class="btn btn-success" >Login</button>
        </fieldset>
    </form>

    <h2>
        <a href="login/registration">New User</a>
    </h2>
</body>
</html>