<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">Title</head>
<body>

    <nav th:replace="fragments :: menu">Menu</nav>

    <div class="login-wrapper">
        <h1 th:text="${title}">Default Title</h1>

        <form th:action="@{/login}" method="post">
                <div th:if="${param.error}" class="error">Invalid username and password</div>
                <div th:if="${param.logout}" class="alert alert-success">You have been logged out</div>

                <div class="login-text-box">
                    <label for="username">Username</label>
                    <input class="login-input" type="text" id="username" name="username" placeholder="username"/>
                </div>

                <div class="login-text-box">
                    <label for="password">Password</label>
                    <input class="login-input" type="text" id="password" name="password" placeholder="password"/>
                </div>

                <div class="login-check-box">
                    <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me"/>
                    <label for="remember-me">Remember Me</label>
                </div>

                <button class="login-button" type="submit">Login</button>
        </form>
    </div>
</body>
</html>