<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">Title</head>
<body>

    <nav th:replace="fragments :: menu">Menu</nav>

    <div class="login-wrapper">
        <h1 th:text="${title}">Default Title</h1>

        <form method="post" style="max-width:600px;" th:object="${user}">
            <div class="login-text-box">
                <label th:for="username">Username</label>
                <input class="login-input" th:field="*{username}" placeholder="Username"/>
                <span th:errors="*{username}" class="error"></span>
                <span th:if="${userExists}" th:text="${userExists}" class="error"></span>
            </div>

            <div class="login-text-box">
                <label th:for="password">Password</label>
                <input class="login-input" type="password" th:field="*{password}" placeholder="Password"/>
                <span th:errors="*{password}" class="error"></span>
            </div>

            <div class="login-text-box">
                <label for="confirmPassword">Confirm Password</label>
                <input class="login-input" type="password" id="confirmPassword" name="confirmPassword"
                       placeholder="Confirm Password"/>
                <span th:if="${passwordError}" th:text="${passwordError}" class="error"></span>
            </div>

            <button class="login-button">Register</button>
        </form>
    </div>

</body>
</html>