<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">Title</head>
<body>
    <h1 th:text="${title}">Title</h1>

    <p th:unless="${campsites} and ${campsites.size()}">No Campsites YET!</p>
    <table class="table">
        <tr>
            <th>Campsite</th>
            <th>Location</th>
        </tr>
        <tr th:each="campsite : ${campsites}">
            <td th:text="${campsite.name}"></td>
            <td th:text="${campsite.location}"></td>
        </tr>
    </table>

    <nav>
        <a href="campsites/add-campsite">Add Campsite</a>
    </nav>
</body>
</html>